@import './mixins.scss';

.alert{
   width: 60%;
   margin:  0 auto;
   position: relative;
   padding: 30px 20px;
   display: inline;
   text-align: center;
   border: 2px solid black;
   border-radius: 25px;
   margin-bottom: 20px;
   animation: show 1s;
   @include adaptiv-font(17,14);
   & .alert__closeBtn{
      position: absolute;
      padding: 0;
      @include adaptiv-font(25,20); 
      top: 10px;
      right: 15px;
      &:focus{
         outline: none;
      }
   }
}

@keyframes show{
   0%{
      left: -100%;
   }
   100%{
      left: 0;
   }
}