@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.wrapper{
  padding: 110px 20px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

@import "~bootstrap/scss/bootstrap";
@import './nule.scss';
@import './mixins.scss';
@import './alert.scss';
@import './header.scss';
@import './nodesList.scss';
@import './addNodeForm.scss';
@import './info.scss';
@import './loader.scss';

.element::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 0;
}