
@import './mixins.scss';

.header {
  position:  fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  background: DodgerBlue;
 }
 
 .header__content{
   width: inherit;
   margin: 0 auto;
   max-width: 1500px;
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 
 .header__logo{
   width: 70px;
   border-radius: 50%;
   border: 1px solid black;
   margin-right: 10px;
 }
 
 .menu__item{
   margin: 0 20px;
   @media (max-width: 350px) {
     margin: 0 10px;
   }
   &:last-child{ margin-right: 0}
   &:first-child{ margin-left: 0}
   color: black;
   @include adaptiv-font(20,14);
   &.active{
     color: white;
   }
 }
