@import './mixins.scss';

.info{
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items:  center;
}

.info__content{
   width: 50%;
   min-width: 80%;
   padding: 100px;
   @media (max-width: 600px){
      padding: 50px 20px;
   }
   background: rgba(173, 255, 47,0.5);
   border-radius: 25px;
   @include adaptiv-font(17,14);
   font-weight: 700;
   text-align: center;
}