@import './mixins.scss';

.info{
   padding-top: 50px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items:  center;
}

.info__content{
   width: 50%;
   min-width: 500px;
   padding: 100px;
   background: rgba(173, 255, 47,0.5);
   border-radius: 25px;
   @include adaptiv-font(17,14);
   font-weight: 700;
   text-align: center;
}